<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar">
        <div class="logo">
            <a href="#" onclick="document.getElementById('homeForm').submit();"><img src="/image/esc_logo.png"
                                                                                     alt="esc_logo" height="40px"></a>
        </div>
        <ul class="nav-links">
            <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                <a href="#" class="dropbtn">Equipes</a>
                <div class="dropdown-content">
                    <a href="#" onclick="document.getElementById('adminForm').submit();">Admins</a>
                    <a href="#" onclick="document.getElementById('ManagerForm').submit();">Managers</a>
                    <a href="#" onclick="document.getElementById('receptionistForm').submit();">Receptionist</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Nouvelle visite</a>
                <div class="dropdown-content">
                    <a href="#" onclick="document.getElementById('teamManagementForm').submit();">Equipe</a>
                    <a href="#" onclick="document.getElementById('visitSubscriberForm').submit();">Abonné</a>
                    <a href="#" onclick="document.getElementById('visitDeskForm').submit();">Bureau</a>
                    <a href="#" onclick="document.getElementById('visitConferenceRoomForm').submit();">Salle de
                        réunion</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Gestion et finances</a>
                <div class="dropdown-content">
                    <a href="#" onclick="document.getElementById('turnoverForm').submit();">Chiffre d'affaire</a>
                    <a href="#" onclick="document.getElementById('caisseForm').submit();">Caisse</a>
                    <a href="#" onclick="document.getElementById('bankForm').submit();">Virements bancaires</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Offre</a>
                <div class="dropdown-content">
                    <a href="#" onclick="document.getElementById('servicesForm').submit();">Services</a>
                    <a href="#" onclick="document.getElementById('subscriptionsForm').submit();">Abonnements</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Documents</a>
                <div class="dropdown-content">
                    <a href="#" onclick="document.getElementById('devisForm').submit();">devises</a>
                    <a href="#" onclick="document.getElementById('factureForm').submit();">Factures</a>
                    <a href="#" onclick="document.getElementById('contratForm').submit();">Contrats du domiciliation</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Gestion des abonnés</a>
                <div class="dropdown-content">
                    <a href="#" onclick="document.getElementById('subscribersForm').submit();">Les abonnés</a>
                    <a href="#" onclick="document.getElementById('visitForm').submit();">Les visites des abonnés</a>
                    <a href="#" onclick="document.getElementById('resubscribeForm').submit();">Se réabonner</a>
                </div>
            <li><a href="#" onclick="document.getElementById('snacksForm').submit();">Stocke</a></li>
            <li><a href="#" onclick="document.getElementById('notSubscribersQRCodeForm').submit();">Cart</a></li>
            </li>
            <li class="dropdown profile">
                <a href="#" class="dropbtn"><img th:src="${profileImage}"
                                                 alt="Profile" class="profile-img"></a>
                <div class="dropdown-content">
                    <a href="#" onclick="document.getElementById('profileForm').submit();">Profile</a>
                    <a href="#">Parametre</a>
                    <a href="#" onclick="document.getElementById('logout').submit();">Logout</a>
                </div>
            </li>

        </ul>
    </nav>

    <!-- Formulaires cachés pour chaque lien -->
    <form id="teamManagementForm" method="get" th:action="@{/reception/visit-of-team}" style="display:none;"></form>
    <form id="profileForm" method="get" th:action="@{/admin/profile}" style="display:none;"></form>
    <form id="adminForm" method="get" th:action="@{/admin/list-admins}" style="display:none;"></form>
    <form id="ManagerForm" method="get" th:action="@{/admin/list-managers}" style="display:none;"></form>
    <form id="visitSubscriberForm" method="get" th:action="@{/reception/visit-subscriber}" style="display:none;"></form>
    <form id="visitConferenceRoomForm" method="get" th:action="@{/reception/visit-room}" style="display:none;"></form>
    <form id="visitDeskForm" method="get" th:action="@{/reception/visit-desk}" style="display:none;"></form>
    <form id="visitForm" method="get" th:action="@{/manager/visit}" style="display:none;"></form>
    <form id="snacksForm" method="get" th:action="@{/manager/list-snacks}" style="display:none;"></form>
    <form id="notSubscribersQRCodeForm" method="get" th:action="@{/manager/list-NotSubscribers}"
          style="display:none;"></form>
    <form id="turnoverForm" method="get" th:action="@{/manager/turnover}" style="display:none;"></form>
    <form id="servicesForm" method="get" th:action="@{/manager/list-services}" style="display:none;"></form>
    <form id="subscriptionsForm" method="get" th:action="@{/manager/list-subscriptions}" style="display:none;"></form>
    <form id="subscribersForm" method="get" th:action="@{/manager/list-subscribers}" style="display:none;"></form>
    <form id="resubscribeForm" method="get" th:action="@{/reception/Resubscribe}" style="display:none;"></form>
    <form id="receptionistForm" method="get" th:action="@{/manager/list-receptionist}" style="display:none;"></form>
    <form id="devisForm" method="get" th:action="@{/manager/list-devis}" style="display:none;"></form>
    <form id="factureForm" method="get" th:action="@{/manager/list-facture}" style="display:none;"></form>
    <form id="contratForm" method="get" th:action="@{/manager/list-contrat}" style="display:none;"></form>
    <form id="caisseForm" method="post" th:action="@{/manager/caisse}" style="display:none;"></form>
    <form id="bankForm" method="post" th:action="@{/manager/bank}" style="display:none;"></form>
    <form id="homeForm" method="get" th:action="@{/}" style="display:none;"></form>
    <form id="logout" method="get" th:action="@{/logout}" style="display:none;"></form>
    <script>
        document.querySelectorAll('.dropbtn').forEach(button => {
            button.addEventListener('click', function (e) {
                e.stopPropagation(); // Prevents the event from bubbling up

                const dropdownContent = this.nextElementSibling;

                // Close other dropdowns if open
                document.querySelectorAll('.dropdown-content').forEach(content => {
                    if (content !== dropdownContent) {
                        content.style.display = 'none';
                    }
                });

                // Toggle the clicked dropdown
                dropdownContent.style.display =
                    dropdownContent.style.display === 'block' ? 'none' : 'block';
            });
        });

        // Close the dropdown if clicked outside
        window.addEventListener('click', function (e) {
            if (!e.target.matches('.dropbtn') && !e.target.closest('.dropdown-content')) {
                document.querySelectorAll('.dropdown-content').forEach(content => {
                    content.style.display = 'none';
                });
            }
        });

    </script>
</div>