<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>subscriber Home</title>
    <link rel="stylesheet" type="text/css" href="/css/Home.css">
    <script th:src="@{/js/modal.js}"></script>
</head>
<body>
<header>
    <h1>Welcome to the subscriber Home Page</h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</header>

<main>
    <section>
        <h2>Profile Information</h2>
        <div>
            <label>ID: </label>
            <span th:text="${profile.id}"></span>
        </div>
        <div>
            <label>CIN: </label>
            <span th:text="${profile.CIN}"></span>
        </div>
        <div>
            <label>First Name: </label>
            <span th:text="${profile.first_name}"></span>
        </div>
        <div>
            <label>Last Name: </label>
            <span th:text="${profile.last_name}"></span>
        </div>
        <div>
            <label>Email: </label>
            <span th:text="${profile.email}"></span>
        </div>
        <div>
            <label>Phone: </label>
            <span th:text="${profile.phone}"></span>
        </div>
        <div>
            <label>CNSS Number: </label>
            <span th:text="${profile.CNSS_number}"></span>
        </div>
        <h2>Your Subscription</h2>
        <div>
            <label> Subscription type: </label>
            <span th:text="${profile.subscription_type.name}"></span>
        </div>
        <div>
            <label>duration: </label>
            <span th:text="${profile.number_of_visits}"></span>
        </div>
        <div>
            <label>start of subscription: </label>
            <span th:text="${profile.date_debut}"></span>
        </div>
        <div>
            <label>end of subscription: </label>
            <span th:text="${profile.date_fin}"></span>
        </div>
        <div>
            <button id="qrCodeBtn">QR code</button>
        </div>

        <!-- Modal for QR Code -->
        <div id="qrCodeModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <img id="qrCodeImg" th:src="@{'data:image/png;base64,' + ${qrCodeBase64}}" alt="QR Code" th:data-filename="${profile.first_name +'_'+ profile.last_name}"/>

                <br>
                <button id="downloadBtn">Download QR code</button>
            </div>
        </div>
    </section>
</main>

<footer>
    <p>© 2024 leader space. All Rights Reserved.</p>
</footer>

</body>
</html>
