<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Snacks</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/manager/subscribers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>

<main>
    <div class="header">
        <h1>Liste des Snacks</h1>
    </div>

        <div class="header-buttons">
            <form th:action="@{/}" method="get">
                <abbr title="Retourner à la page d'accueil">
                    <button type="submit"><i class="fa fa-arrow-left"></i></button>
                </abbr>
            </form>
        </div>
    <!-- Search form -->
    <!--<div class="search-form">
        <form th:action="@{/manager/snack-Search}" method="get">
            <input type="text" name="Name" placeholder="Search by name" />
            <button type="submit">Search</button>
        </form>
    </div>-->

    <!--<div class="main-buttons">
        <form th:action="@{/manager/add-snack}" method="get">
            <button type="submit">add</button>
        </form>
    </div>-->
    <div class="table-container cadre-table-scroll">
        <table border="1" class="subscriber-table table-fixed scroll table-scroll">
            <thead>
            <tr>
                <th>image</th>
                <th>name</th>
                <th>Quantity</th>
                <th>Required Quantity</th>
                <th>purchase_price</th>
                <th>selling_price</th>
                <th>type</th>
    <!--            <th>Action</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="snack : ${snacks}" th:style="${(snack.quantity!=null && snack.quantity <= snack.requiredQuantity) ? 'background-color: #d45f6a; color: white;' : ''}">
                <td>
                    <img id="qrCodeImg" th:src="@{'data:image/png;base64,' + ${snack.base64Image}}" alt="QR Code" width="50"/>
                </td>
                <td th:text="${snack.name}">name</td>
                <td th:text="${snack.quantity}"></td>
                <td th:text="${snack.requiredQuantity}">Required Quantity</td>
                <td th:text="${snack.purchase_price}">purchase price</td>
                <td th:text="${snack.selling_price}">selling price</td>
                <td th:text="${snack.type}">type</td>
                <!--<td>
                    <a class="btn btn-secondary" th:href="@{/manager/new-quantity-snack(snack_id=${snack.id})}">New Quantity</a>
                    <a class="btn btn-secondary" th:href="@{/manager/update-snack(snack_id=${snack.id})}">Update</a>
                </td>-->
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul style="list-style-type: none; display: flex; justify-content: center; padding: 0;">
                <li th:each="page, status : ${pages}" style="margin-left: 10px;">
                    <a th:if="${name!=null}"
                       th:class="${(status.count == (currentPage+1)) ? 'btn-pagination-customHov' : 'btn-pagination-custom'}"
                       th:href="@{subscriber-Search(Name=${name},page=${status.index})}"
                       th:text="${status.count}"
                       style="display: inline-block; padding: 10px 15px; text-decoration: none; border: 1px solid #2997AA; border-radius: 4px;">
                    </a>
                    <a th:if="${name==null}"
                       th:class="${(status.count == (currentPage+1)) ? 'btn-pagination-customHov' : 'btn-pagination-custom'}"
                       th:href="@{get-subscribers(page=${status.index})}"
                       th:text="${status.count}"
                       style="display: inline-block; padding: 10px 15px; text-decoration: none; border: 1px solid #2997AA; border-radius: 4px;">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const table = document.querySelector('.subscriber-table tbody');
        const rows = table.querySelectorAll('tr');

        if (rows.length >= 6) {
            table.parentElement.classList.add('subscriber-table-container');
        }
    });
</script>
</html>