<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une visite</title>
    <link rel="stylesheet" th:href="@{/css/visit-of-room.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">

</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
</div>
<div class="form-container">
    <h1>Ajouter une visite pour la salle de réunion</h1>
    <h4 th:text="${message}" style="color: #f31414"></h4>
    <form th:action="@{/reception/save-visit-of-room}" method="post" th:object="${newVisitRoom}">
        <input type="hidden" th:field="*{id}" th:value="${newVisitRoom.id}"/>

        <div class="form-group">
            <label for="date">date de réservation</label>
            <input type="date" id="date" th:field="*{day}" required>
        </div>

        <div class="form-group">
            <label for="starttime">heure de début</label>
            <input type="time" id="starttime" th:field="*{startTime}" required>
        </div>

        <div class="form-group">
            <label for="endtime">heure de fin</label>
            <input type="time" id="endtime" th:field="*{endTime}" required>
        </div>

        <div class="form-group">
            <label for="price">prix</label>
            <input type="number" step="0.01" id="price" th:field="*{service_room_price}" required>
        </div>

        <div class="form-actions">
            <button type="submit">Enregistrer</button>
            <a class="cancel-link" th:href="@{/}">Annuler</a>
        </div>
    </form>
</div>
</body>
</html>
