<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visit Home</title>
    <link rel="stylesheet" type="text/css" href="/css/visitor.css">
</head>
<body>
<header>
    <h1>Welcome to the Visit Page</h1>
    <div class="header-buttons">
        <form th:action="@{/}" method="get">
            <button type="submit">Cancel</button>
        </form>
        <form th:action="@{/reception/add-snacks-to-visitor(visitId=${visit.id})}" method="post">
            <button type="submit">Add Snacks</button>
        </form>
        <form th:action="@{/reception/checkout(visitId=${visit.id})}" method="post">
            <button type="submit">visitor checkout</button>
        </form>
    </div>
</header>
<main>
    <section>
        <h2>Visit Information</h2>
        <div>
            <label>ID: </label>
            <span th:text="${visit.id}"></span>
        </div>
        <div>
            <label>Day: </label>
            <span th:text="${visit.day}"></span>
        </div>
        <div>
            <label>Entry Time: </label>
            <span th:text="${#temporals.format(visit.startTime, 'HH:mm')}"></span>
        </div>
        <div>
            <label>Checkout Time: </label>
            <span th:text="${visit.endTime}"></span>
        </div>
    </section>
    <section th:if="${visit.subscriber != null}">
        <h2>Subscribtion info: </h2>
        <div>
            <label>type: </label>
            <span th:text="${visit.subscriber.subscription_type.name}"></span>
        </div>
        <div>
            <label>number of days left: </label>
            <span th:text="${visit.subscriber.number_of_visits}"></span>
        </div>
        <div>
            <label>start subscribtion: </label>
            <span th:text="${visit.subscriber.date_debut}"></span>
        </div>
        <div>
            <label>start subscribtion:: </label>
            <span th:text="${visit.subscriber.date_fin}"></span>
        </div>
        <div>
            <label>number of free drinks: </label>
            <span th:text="${visit.subscriber.subscription_type.number_of_Free_Drinks_of_day}"></span>
        </div>
        <h2>Subscriber Information</h2>
        <div>
            <label>First Name: </label>
            <span th:text="${visit.subscriber.first_name}"></span>
        </div>
        <div>
            <label>Last Name: </label>
            <span th:text="${visit.subscriber.last_name}"></span>
        </div>
        <div>
            <label>CIN: </label>
            <span th:text="${visit.subscriber.CIN}"></span>
        </div>
        <div>
            <label>Email: </label>
            <span th:text="${visit.subscriber.email}"></span>
        </div>
        <div>
            <label>Phone: </label>
            <span th:text="${visit.subscriber.phone}"></span>
        </div>
    </section>
    <section>
        <h2>Snacks</h2>
        <table th:if="${!snacks.isEmpty()}">
            <thead>
            <tr>
                <th>Logo</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="snack : ${snacks}">
                <td>
                    <img id="qrCodeImg" th:src="@{'data:image/png;base64,' + ${snack.snacksAndBoissons.base64Image}}" alt="QR Code" width="50"/>
                </td>
                <td th:text="${snack.snacksAndBoissons.name}"></td>
                <td th:text="${snack.quantity}"></td>
                <td th:text="${snack.snacksAndBoissons.purchase_price} * ${snack.quantity}"></td>
                <td>
                    <div class="action-buttons">
                        <form th:action="@{/reception/delete-snack}" method="post">
                            <input type="hidden" name="visitId" th:value="${visit.id}" />
                            <input type="hidden" name="snackId" th:value="${snack.snacksAndBoissons.id}" />
                            <button type="submit">Delete Snack</button>
                        </form>
                        <form th:action="@{/reception/update-snack-form}" method="post">
                            <input type="hidden" name="visitId" th:value="${visit.id}" />
                            <input type="hidden" name="snackId" th:value="${snack.snacksAndBoissons.id}" />
                            <button type="submit">Update Snack</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<footer>
    <p>© 2024 Leader Space. All Rights Reserved.</p>
</footer>
</body>
</html>
