<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Subscriber</title>
    <link rel="stylesheet" th:href="@{/css/add-subscriber.css}">
</head>
<body>
<h1>Add manager</h1>
<form th:action="@{/admin/save-manager}" method="post" th:object="${manager}">
    <label for="cin">CIN:</label>
    <input type="text" id="cin" name="cin" th:field="*{CIN}">
    <br>
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" th:field="*{first_name}">
    <br>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" th:field="*{last_name}">
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}">
    <br>
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" placeholder="+123-456-7890" pattern="\+?[0-9\s\-]{7,15}" th:field="*{phone}"/>
    <br>
    <label for="cnss">CNSS:</label>
    <input type="text" id="cnss" name="quantity" th:field="*{CNSS_number}" required>
    <br>
    <label for="password">Password:</label>
    <div class="password-container">
        <input id="password" type="password" name="password" placeholder="Enter password" th:field="*{password}" required>
        <div class="password-icon">
            <i data-feather="eye"></i>
            <i data-feather="eye-off"></i>
        </div>
    </div>
    <br>
    <button type="submit">Save</button>
    <a class="cancel-link" th:href="@{/manager/list-receptionist}">Cancel</a>
</form>



<!-- ICON SCRIPT -->
<script src="/js/password.js"></script>
<script>
    feather.replace();

    document.querySelector('.password-icon').addEventListener('click', function() {
        const passwordField = document.getElementById('password');
        const eyeIcon = document.querySelector('.feather-eye');
        const eyeOffIcon = document.querySelector('.feather-eye-off');
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.style.display = "none";
            eyeOffIcon.style.display = "block";
        } else {
            passwordField.type = "password";
            eyeIcon.style.display = "block";
            eyeOffIcon.style.display = "none";
        }
    });
</script>
</body>
</html>
