<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des admins</title>
    <link rel="stylesheet" th:href="@{/css/manager/subscribers.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
<main>
    <div class="header">
        <h1>Liste des admins</h1>
    </div>
    <div class="search-bar-buttons">
        <div class="header-buttons">
            <form th:action="@{/}" method="get">
                <abbr title="Retourner à la page d'accueil">
                    <button type="submit"><i class="fa fa-arrow-left"></i></button>
                </abbr>
            </form>
            <form th:action="@{/admin/add-admin}" method="get">
                <abbr title="Ajouter un admin">
                    <button type="submit"><i class="fa fa-plus"></i></button>
                </abbr>
            </form>
        </div>
        <!--<div class="search-form">
            <form th:action="@{/admin/admin-Search}" method="get">
                <input type="text" name="Name" placeholder="Rechercher par nom" />
                <abbr title="Rechercher">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </abbr>
            </form>
        </div>-->
    </div>
    <div class="table-container cadre-table-scroll">
        <table border="1" class="subscriber-table table-fixed scroll table-scroll">
            <thead>
            <tr>
                <th>CIN</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>CNSS</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="admin : ${admins}" >
                <td th:text="${admin.CIN}">CIN</td>
                <td th:text="${admin.first_name}">First name</td>
                <td th:text="${admin.last_name}">Last name</td>
                <td th:text="${admin.email}">Email</td>
                <td th:text="${admin.phone}">phone</td>
                <td th:text="${admin.CNSS_number}">CNSS</td>
                <td th:if="${admin.id!=myId}">
                    <div class="action-buttons">
                        <form th:action="@{/admin/update-admin(adminId=${admin.id})}" method="post">
                            <abbr title="Modifier un admin">
                                <button type="submit"><i class="fa fa-edit"></i></button>
                            </abbr>
                        </form>
                        <form th:action="@{/admin/delete-admin(adminId=${admin.id})}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet administrateur ?')">
                            <abbr title="Supprimer un admin">
                                <button type="submit"><i class="fa fa-trash"></i></button>
                            </abbr>
                        </form>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
