<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
</head>

<body th:style="'background: url(/image/backgroundlogo.webp) no-repeat center center;background-size: 50%; height: 100vh;'">

<div th:replace="Admin_espace/fragments/navbar :: navbar" th:with="profileImage=${profileImage}"></div>

</body>
</html>
