<div th:fragment="navbar">
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="m249 849-42-42 231-231-231-231 42-42 231 231 231-231 42 42-231 231 231 231-42 42-231-231-231 231Z" fill="white"/></svg></a></li>
            <li><a href="#" onclick="document.getElementById('profileForm').submit();">Profile</a></li>
            <li><a href="#" onclick="document.getElementById('badgeForm').submit();">Mon Badge</a></li>
            <li><a href="#" onclick="document.getElementById('visitForm').submit();">visites</a></li>
            <li><a href="#" onclick="document.getElementById('about').submit();">à propos</a></li>
            <li><a href="#" onclick="document.getElementById('logoutForm').submit();">se déconnecter</a></li>
        </ul>
        <ul>
            <li><a href="#" onclick="document.getElementById('homeForm').submit();"><img src="/image/logo_leader_space.png"
                                                                                        alt="esc_logo" ></a></li>
            <li class="hideOnMobile"><a href="#" onclick="document.getElementById('profileForm').submit();">Profile</a></li>
            <li class="hideOnMobile"><a href="#" onclick="document.getElementById('badgeForm').submit();">Mon Badge</a></li>
            <li class="hideOnMobile"><a href="#" onclick="document.getElementById('visitForm').submit();">visites</a></li>
            <li class="hideOnMobile"><a href="#" onclick="document.getElementById('about').submit();">à propos</a></li>
            <li class="hideOnMobile"><a href="#" onclick="document.getElementById('logoutForm').submit();">se déconnecter</a></li>
            <li class="menu-button" onclick="showSidebar()">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26">
                        <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z" fill="white"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
    <form id="homeForm" method="get" th:action="@{/}" style="display:none;"></form>
    <form id="profileForm" method="get" th:action="@{/subscriber/profile}" style="display:none;"></form>
    <form id="badgeForm" method="get" th:action="@{/subscriber/badge}" style="display:none;"></form>
    <form id="visitForm" method="post" th:action="@{/subscriber/visit}" style="display:none;"></form>
    <form id="about" method="get" th:action="@{/subscriber/about}" style="display:none;"></form>
    <form id="logoutForm" method="post" th:action="@{/logout}" style="display:none;"></form>
    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar');
            sidebar.style.display = 'flex';

            const formContainer = document.querySelector('.form-container');
            formContainer.classList.add('hide-on-sidebar');
        }

        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar');
            sidebar.style.display = 'none';

            const formContainer = document.querySelector('.form-container');
            formContainer.classList.remove('hide-on-sidebar');
        }

    </script>
</div>