/* General Body and Background */
body {
    margin: 0;
    padding: 0;
    background-image: url('/image/ls.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
}

/* Header Styles */
.header {
    width: auto;
    padding: 20px;
    background-color: #29978d;
    color: white;
    margin-bottom: 2ex;
}

h1 {
    font-size: 24px;
    margin-left: 20px;
}

/* Header Buttons */
.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-buttons button {
    background-color: white;
    color: #29978d;
    border: 2px solid white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header-buttons button:hover {
    background-color: #0056b3;
    color: white;
}

/* Main Content */
main {
    width: max-content;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10ex auto;
    overflow: hidden;
    overflow-y: auto;
}

/* Table Styles */
table {
    width: 100%; /* Slightly increased width */
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

th {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    color: white;
    background: #29978d;
    cursor: default;
}

td {
    text-align: center;
    padding: 15px 5px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.5s ease;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #e9ecef;
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: unset;
}

/* Action Buttons in Table */
td form {
    display: inline-block;
}

td form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #29978d;
    font-size: 14px;
    padding: 0;
}

td form button:hover {
    color: #0056b3;
}

td form button:hover i{
    color: #0056b3;
    transform: scale(1.2);
}


td .action-buttons button i {
    font-size: 18px;
    color: #29978d;
}
