<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Caisse</title>
</head>
<body>

<main id="" style="display: block;">
  <h2>Caisse</h2>
  <div class="transfer-form">
    <form th:action="@{/manager/transfer}" method="post">
      <input type="number" name="sum" placeholder="Enter sum to transfer" min="0" th:max="${FirstCaisse.totale_caisse}"/>
      <button type="submit">Transfer</button>
    </form>
  </div>
  <table border="1">

    <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Somme</th>
      <th>Totale</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cs : ${caisse}">
      <td th:text="${cs.date}">Date</td>
      <td th:text="${cs.time}">Time</td>
      <td th:text="${cs.somme}">Somme</td>
      <td th:text="${cs.totale_caisse}">Totale</td>
    </tr>
    </tbody>
  </table>
</main>

</body>
</html>