<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
  <meta charset="UTF-8">
  <title>La caisse</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
  <link rel="stylesheet" type="text/css" href="/css/manager/caisse.css">
  <script>
    window.addEventListener('load', function() {
      var section = document.getElementById('ancreTest'); // Identifiez l'élément par son ID
      if (section) {
        section.scrollIntoView({ behavior: 'instant' }); // Scrollez vers cet élément
      }
    });
  </script>

</head>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
<body>
<div class="container my-2">
  <!-- Titre principal -->
  <h1 class="text-center main-title">La caisse</h1>

  <!-- Formulaire de transfert -->
  <div class="transfer-form">
    <form th:action="@{/manager/transfer}" method="post">
      <label for="sum" class="form-label me-2">Somme à transférer</label>
      <div class="mb-3 row g-3 align-items-end">
        <input type="number" class="form-control form-transfer me-2" id="sum" name="sum" placeholder="Entrez la somme à transférer" min="0" th:max="${FirstCaisse.totale_caisse}" required>
        <div class="col-md-2">
          <abbr title="Transférer à la bank">
            <button type="submit" class="btn btn-custom w-100" style="width: 100%">
              <i class="fa-solid fa-money-bill-transfer"></i>
            </button>
          </abbr>
        </div>
      </div>
    </form>
    <form th:action="@{/}" method="get">
      <abbr title="Retourner à la page d'accueil">
        <button type="submit" class="btn btn-custom col-md-1">
          <i class="fa fa-arrow-left"></i>
        </button>
      </abbr>
    </form>
  </div>



  <!-- Formulaire de recherche -->
  <div class="search-form">
    <form id="particulier" th:action="@{/manager/caisse}" method="post" onsubmit="return validateDates();">
      <div class="row g-3 align-items-end">
        <div class="col-md-5">
          <label for="dateDebut" class="form-label">De</label>
          <input type="date" class="form-control" name="dateDebut" id="dateDebut" th:value="${param.dateDebut != null ? param.dateDebut : null}">
        </div>
        <div class="col-md-5">
          <label for="dateFin" class="form-label">À</label>
          <input type="date" class="form-control" name="dateFin" id="dateFin" th:value="${param.dateFin != null ? param.dateFin : null}">
        </div>
        <div class="col-md-2">
          <abbr title="Rechercher">
            <button type="submit" class="btn btn-custom w-100" style="width: 100%">
              <i class="fa fa-search"></i>
            </button>
          </abbr>
        </div>
      </div>
    </form>
  </div>


  <!-- Tableau des transactions -->
  <main>
    <div id="ancreTest">
      <div class="table-container">
        <table border="1" class="subscriber-table table-fixed">
          <thead class="table-dark">
          <tr>
            <th>Date</th>
            <th>Heure</th>
            <th>Somme (MAD)</th>
            <th>Total (MAD)</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cs : ${caisse}">
            <td th:text="${cs.date}">Date</td>
            <td th:text="${cs.time}">Heure</td>
            <td th:text="${cs.somme > 0} ? '+' + ${cs.somme} : ${cs.somme}"
                th:style="${cs.somme < 0} ? 'color: red;' : 'color: green;'">
            </td>
            <td th:text="${cs.totale_caisse}">Totale</td>
          </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item ms-2" th:each="page, status : ${pages}">
            <a th:class="${(status.count == (currentPage+1)) ? 'btn btn-pagination-customHov' : 'btn btn-pagination-custom'}"
               th:href="@{caisse(dateDebut=${dateDebut},dateFin=${dateFin},page=${status.index})}"
               th:text="${status.count}">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
</div>
<!-- Script de validation des dates -->
<script>
  function validateDates() {
    const dateDebutInput = document.getElementById('dateDebut').value;
    const dateFinInput = document.getElementById('dateFin').value;
    const dateInMoroccoObj = new Date(); // Remplacez par votre méthode pour obtenir la date actuelle au Maroc

    /*if (!dateDebutInput || !dateFinInput) {
      alert("Veuillez saisir les deux dates.");
      return false;
    }*/

    const dateDebut = new Date(dateDebutInput);
    const dateFin = new Date(dateFinInput);
    const currentDate = new Date(dateInMoroccoObj);

    if (dateDebut > dateFin) {
      alert("La date de début doit être antérieure ou égale à la date de fin.");
      return false;
    }

    if (dateFin > currentDate) {
      alert("La date de fin ne peut pas être future.");
      return false;
    }

    return true;
  }

</script>


<!-- Intégration de Bootstrap JS et de ses dépendances -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
