<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Home</title>
    <link rel="stylesheet" type="text/css" href="/css/addsnaksforvisit.css">
</head>
<body>
<header>
    <h1>Welcome to the Manager Home Page</h1>
    <form th:action="@{/}" method="get">
        <button type="submit">Cancel</button>
    </form>
</header>

<main>
    <section>
        <h2>Choose Services</h2>
        <form th:action="@{/manager/save-services-to-facture(factureId=${facture.id})}" th:object="${designationForm}" method="post">
            <div th:each="designation : ${subscriptionTypes}">
                <span th:text="${designation.name}"></span>
                <input type="number" th:field="*{serviceQuantities[__${designation.id}__]}" min="0" value="0"/>
            </div>
            <button type="submit">Save services</button>
        </form>
    </section>
</main>

<footer>
    <p>© 2024 leader space. All Rights Reserved.</p>
</footer>
</body>
</html>
