<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Snacks</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
    <link rel="stylesheet" type="text/css" href="/css/manager/subscribers.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>

<main>
    <div class="header">
        <h1>Liste des Snacks</h1>
    </div>
    <div class="search-bar-buttons">
        <div class="header-buttons">
            <form th:action="@{/}" method="get">
                <abbr title="Retourner à la page d'accueil">
                    <button type="submit"><i class="fa fa-arrow-left"></i></button>
                </abbr>
            </form>
            <form th:action="@{/manager/add-snack}" method="get">
                <abbr title="Ajouter un snack">
                    <button type="submit"><i class="fa fa-plus"></i></button>
                </abbr>
            </form>
        </div>
        <!-- Search form -->
        <div class="search-form">
            <form th:action="@{/manager/snack-Search}" method="get">
                <input type="text" name="Name" placeholder="Rechercher par nom" />
                <abbr title="Rechercher">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </abbr>
            </form>
        </div>
    </div>

    <table border="1">
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Quantité Minimale</th>
            <th>Prix d'achat</th>
            <th>Prix de vente</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="snack : ${snacks}" th:style="${(snack.quantity!=null && snack.quantity <= snack.requiredQuantity) ? 'background-color: #d45f6a; color: white;' : ''}" th:rowspan="2px">
            <td>
                <img id="qrCodeImg" th:src="@{'data:image/png;base64,' + ${snack.base64Image}}" alt="QR Code" width="50"/>
            </td>
            <td th:text="${snack.name}">name</td>
            <td th:text="${snack.quantity}"></td>
            <td th:text="${snack.requiredQuantity}">Required Quantity</td>
            <td th:text="${snack.purchase_price}">purchase price</td>
            <td th:text="${snack.selling_price}">selling price</td>
            <td th:text="${snack.type}">type</td>
            <td>
                <div class="action-buttons">
                    <a class="btn btn-secondary" th:href="@{/manager/new-quantity-snack(snack_id=${snack.id})}">
                        <abbr title="Ajouter une quantité du snack">
                            <i class="fa fa-circle-plus"></i>
                        </abbr>
                    </a>
                    <a class="btn btn-secondary" th:href="@{/manager/update-snack(snack_id=${snack.id})}">
                        <abbr title="Modifier la quantité minimale du snack">
                            <i class="fa fa-edit"></i>
                        </abbr>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<!--<footer>-->
<!--    <p>© 2024 Leader Space. All Rights Reserved.</p>-->
<!--</footer>-->
</body>
</html>