<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Quantity Of Snack</title>
    <link rel="stylesheet" type="text/css" href="/css/manager/add-snacks-form.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
<header>
    <h1 th:text="'Ajouter noveau quantité au ' + ${snack.name}"></h1>
    <a th:href="@{/manager/list-snacks}" class="btn btn-secondary">Cancel</a>
</header>

<main>
    <form th:action="@{/manager/save-new-quantity-snack}" th:object="${snack}" method="post" >
        <!--<div>
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" required>
        </div>-->
        <input type="hidden" th:field="*{id}" th:value="${snack.id}">
        <input type="hidden" th:field="*{name}" th:value="${snack.name}">
        <input type="hidden" th:field="*{type}" th:value="${snack.type}">
        <input type="hidden" th:field="*{image}" th:value="${snack.image}">
        <div>
            <label for="quantity">Quantité:</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
        <div>
            <label for="purchasePrice">Prix d'achat:</label>
            <input type="number" step="0.01" id="purchasePrice" name="purchase_price" required>
        </div>
        <div>
            <label for="sellingPrice">Prix de vente:</label>
            <input type="number" step="0.01" id="sellingPrice" name="selling_price"    required>
        </div>
        <!--<div>
            <label for="type">Type:</label>
            <select id="type" name="type" required>
                <option value="Snack">Snack</option>
                <option value="Boisson">Boisson</option>
            </select>
        </div>
        <div>
            <label for="imageFile">Image:</label>
            <input type="file" id="imageFile" name="imageFile" accept="image/*" required>
        </div>-->
        <div>
            <button type="submit">Ajouter nouveau quantité</button>
        </div>
    </form>
</main>

<footer>
    <p>© 2024 Leader Space. Tous droits réservés.</p>
</footer>
</body>
</html>
