<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Subscribers</title>
    <link rel="stylesheet" th:href="@{/css/visit-today.css}">
</head>
<body>
<header>
    <h1>List of Subscribers</h1>
    <div class="header-buttons">
        <form th:action="@{/}" method="get">
            <button type="submit">Cancel</button>
        </form>
    </div>
    <!-- Search form -->
    <div class="search-form">
        <form th:action="@{/reception/subscriber-Search}" method="get">
            <input type="text" name="Name" placeholder="Search by name" />
            <button type="submit">Search</button>
        </form>
    </div>
</header>
<main>
    <div class="main-buttons">
        <form th:action="@{/manager/add-receptionist}" method="get">
            <button type="submit">add</button>
        </form>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>CIN</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>phone</th>
            <th>CNSS</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="receptionist : ${receptionists}">
            <td th:text="${receptionist.CIN}">CIN</td>
            <td th:text="${receptionist.first_name}">First name</td>
            <td th:text="${receptionist.last_name}">Last name</td>
            <td th:text="${receptionist.email}">Email</td>
            <td th:text="${receptionist.phone}">phone</td>
            <td th:text="${receptionist.CNSS_number}">CNSS</td>
            <td>
                <form th:action="@{/manager/update-receptionist(receptionistId=${receptionist.id})}" method="post">
                    <button type="submit">modifier</button>
                </form>
                <form th:action="@{/manager/delete-receptionist(receptionistId=${receptionist.id})}" method="post">
                    <button type="submit">supprimer</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
