<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des réceptionistes</title>
    <link rel="stylesheet" th:href="@{/css/manager/subscribers.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
<main>
    <div class="header">
        <h1>Liste des réceptionistes</h1>
    </div>
    <div class="search-bar-buttons">
        <div class="header-buttons">
            <form th:action="@{/}" method="get">
                <abbr title="Retourner à la page d'accueil">
                    <button type="submit"><i class="fa fa-arrow-left"></i></button> <!-- Cancel icon -->
                </abbr>
            </form>
            <form th:action="@{/manager/add-receptionist}" method="get">
                <abbr title="Ajouter un réceptioniste">
                    <button type="submit"><i class="fa fa-plus"></i></button> <!-- Add icon -->
                </abbr>
            </form>
        </div>
            <!--<div class="search-form">
                <form th:action="@{/reception/subscriber-Search}" method="get">
                    <input type="text" name="Name" placeholder="Rechercher par nom" />
                    <abbr title="Rechercher">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </abbr>
                </form>
            </div>-->
    </div>
    <div class="table-container cadre-table-scroll">
        <table border="1" class="subscriber-table table-fixed scroll table-scroll">
            <thead>
            <tr>
                <th>CIN</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>CNSS</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="receptionist : ${receptionists}">
                <td th:text="${receptionist.CIN}">CIN</td>
                <td th:text="${receptionist.first_name}">First name</td>
                <td th:text="${receptionist.last_name}">Last name</td>
                <td th:text="${receptionist.email}">Email</td>
                <td th:text="${receptionist.phone}">phone</td>
                <td th:text="${receptionist.CNSS_number}">CNSS</td>
                <td>
                    <div class="action-buttons">
                        <form th:action="@{/manager/update-receptionist}" method="get">
                            <input type="hidden" name="receptionistId" th:value="${receptionist.id}">
                            <abbr title="Modifier un réceptioniste">
                                <button type="submit"><i class="fa fa-edit"></i></button>
                            </abbr>
                        </form>
                        <form th:action="@{/manager/delete-receptionist(receptionistId=${receptionist.id})}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce réceptionniste ?')">
                            <abbr title="Supprimer un réceptionniste">
                                <button type="submit"><i class="fa fa-trash"></i></button>
                            </abbr>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
