<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des services</title>
    <link rel="stylesheet" th:href="@{/css/manager/services.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>

<main>
    <div class="header">
        <h1>Liste des services</h1>
    </div>
    <div class="header-buttons">
        <form th:action="@{/}" method="get">
            <abbr title="Retourner à la page d'accueil">
                <button type="submit"><i class="fa fa-arrow-left"></i></button>
            </abbr>
        </form>
        <form th:action="@{/manager/add-service}" method="get">
            <abbr title="Ajouter un service">
                <button type="submit"><i class="fa fa-plus"></i></button>
            </abbr>
        </form>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Durée (Heures)</th>
            <th>Nombre de boissons gratuits</th>
            <th>Prix (DH)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service : ${services}">
            <td th:text="${service.name}">name</td>
            <td th:text="${service.duration}">duration (par heurs)</td>
            <td th:text="${service.number_of_Free_Drinks}">Nombre de boissons gratuits</td>
            <td th:text="${service.price}">prix</td>
            <td>
                <div class="action-buttons">
                    <form th:action="@{/manager/update-service(serviceId=${service.id})}" method="post">
                        <abbr title="Modifier un service">
                            <button type="submit"><i class="fa fa-edit"></i></button>
                        </abbr>
                    </form>
                    <form th:action="@{/manager/delete-service(serviceId=${service.id})}" method="post">
                        <abbr title="Supprimer un service">
                            <button type="submit"><i class="fa fa-trash"></i></button>
                        </abbr>
                    </form>
                </div>
            </td>
        </tbody>
    </table>
</main>
</body>
</html>
