<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Subscribers</title>
    <link rel="stylesheet" th:href="@{/css/manager/subscriptions.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
<main>
    <div class="header">
        <h1>Liste des abonnements</h1>
    </div>
    <div class="header-buttons">
        <form th:action="@{/}" method="get">
            <abbr title="Retourner à la page d'accueil">
                <button type="submit"><i class="fa fa-arrow-left"></i></button>
            </abbr>
        </form>
        <form th:action="@{/manager/add-subscription}" method="get">
            <abbr title="Ajouter une abonnement">
                <button type="submit"><i class="fa fa-plus"></i></button>
            </abbr>
        </form>
    </div>
    <table border="1">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Durée (Jours)</th>
            <th>Flexibilité de durée (Mois)</th>
            <th>Nombre de boissons gratuits par jour</th>
            <th>Nombre d'heures par jour</th>
            <th>Prix de l'abonnement (MAD)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subscription : ${subscriptions}">
            <td th:text="${subscription.name}">name</td>
            <td th:text="${subscription.duration}">Durée (par jour)</td>
            <td th:text="${subscription.flexibility_duration}">Flexibilité de durée (par mois)</td>
            <td th:text="${subscription.number_of_Free_Drinks_of_day}">Nombre de boissons gratuites par jour</td>
            <td th:text="${subscription.hour_of_day}">Nombre d'heures par jour</td>
            <td th:text="${subscription.price}">Prix de l'abonnement(mad)</td>
            <td>
                <div class="action-buttons">
                    <form th:action="@{/manager/update-subscription(subscriptionId=${subscription.id})}" method="post">
                        <abbr title="Modifier une abonnement">
                            <button type="submit"><i class="fa fa-edit"></i></button>
                        </abbr>
                    </form>
                    <form th:action="@{/manager/delete-subscription(subscriptionId=${subscription.id})}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet abonnement ?')">
                        <abbr title="Supprimer un abonnement">
                            <button type="submit"><i class="fa fa-trash"></i></button>
                        </abbr>
                    </form>

                </div>
            </td>
        </tbody>
    </table>
</main>
</body>
</html>
