<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier service</title>
    <link rel="stylesheet" th:href="@{/css/add-subscriber.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
<div class="form-container">
    <h1>Modifier service</h1>
    <hr/>
    <form id="particulier" th:action="@{/manager/save-update-service}" th:object="${service}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${service.id}"/>
        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" id="name" th:field="*{name}" th:value="${service.name}" required>
        </div>
        <div class="form-group">
            <label for="duration">Durée (par heure):</label>
            <input type="number" id="duration" th:field="*{duration}" th:value="${service.duration}" required>
        </div>
        <div class="form-group">
            <label for="endtime">Nombre de boissons gratuits:</label>
            <input type="number" id="endtime" th:field="*{number_of_Free_Drinks}" th:value="${service.number_of_Free_Drinks}" required>
        </div>
        <div class="form-group">
            <label for="price">Prix: </label>
            <input type="number" step="0.01" id="price" th:field="*{price}" th:value="${service.price}" required>
        </div>
        <div class="form-actions">
            <button type="submit">Enregistrer</button>
            <a class="cancel-link" th:href="@{/manager/list-services}">Annuler</a>
        </div>
    </form>
</div>
</body>
</html>