<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier abonnement</title>
    <link rel="stylesheet" th:href="@{/css/add-subscriber.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
<div class="form-container">
    <h1>Modifier abonnement</h1>
    <hr/>
    <form id="particulier" th:action="@{/manager/save-update-subscription}" th:object="${subscription}" method="post">
        <input type="hidden" th:field="*{id}" th:value="${subscription.id}"/>
        <div class="form-group">
            <label for="name">Nom:</label>
            <input type="text" id="name" th:field="*{name}" th:value="${subscription.name}" required>
        </div>
        <div class="form-group">
            <label for="duration">Durée (par jour):</label>
            <input type="number" id="duration" th:field="*{duration}" th:value="${subscription.duration}" required>
        </div>
        <div class="form-group">
            <label for="endtime">Flexibilité de durée (par mois):</label>
            <input type="number" id="endtime" th:field="*{flexibility_duration}" th:value="${subscription.flexibility_duration}" required>
        </div>
        <div class="form-group">
            <label for="nbr">Nombre de boissons gratuits par jour:</label>
            <input type="number" id="nbr" th:field="*{number_of_Free_Drinks_of_day}" th:value="${subscription.number_of_Free_Drinks_of_day}" required>
        </div>
        <div class="form-group">
            <label for="nbr_jrs">Nombre d'heures par jour:</label>
            <input type="number" id="nbr_jrs" th:field="*{hour_of_day}" th:value="${subscription.hour_of_day}" required>
        </div>
        <div class="form-group">
            <label for="price">Prix de l'abonnement (MAD):</label>
            <input type="number" step="0.01" id="price" th:field="*{price}" th:value="${subscription.price}" required>
        </div>
        <div class="form-actions">
            <button type="submit">Enregistrer</button>
            <a class="cancel-link" th:href="@{/manager/list-subscriptions}">Annuler</a>
        </div>
    </form>
</div>
</body>
</html>