<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Subscriber</title>
    <link rel="stylesheet" th:href="@{/css/add-subscriber.css}">
</head>
<body>
<h1>modifier le mot de passe</h1>
<form th:action="@{/manager/new-password}" method="post">

    <label for="password">mot de passe:</label>
    <div class="password-container">
        <input id="password" type="password" name="password" placeholder="Enter password">
        <div class="password-icon">
            <i data-feather="eye"></i>
            <i data-feather="eye-off"></i>
        </div>
    </div>
    <br>
    <p th:text="${message}" style="color: #f31414"></p>
    <button type="submit">confirme</button>
    <a class="cancel-link" th:href="@{/}">Cancel</a>
</form>



<!-- ICON SCRIPT -->
<script src="/js/password.js"></script>
<script>
    feather.replace();

    document.querySelector('.password-icon').addEventListener('click', function() {
        const passwordField = document.getElementById('password');
        const eyeIcon = document.querySelector('.feather-eye');
        const eyeOffIcon = document.querySelector('.feather-eye-off');
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.style.display = "none";
            eyeOffIcon.style.display = "block";
        } else {
            passwordField.type = "password";
            eyeIcon.style.display = "block";
            eyeOffIcon.style.display = "none";
        }
    });
</script>
</body>
</html>
