<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier réceptioniste</title>
    <link rel="stylesheet" th:href="@{/css/add-subscriber.css}">
    <link rel="stylesheet" type="text/css" href="/css/admin/navBar.css">
</head>
<body>
<div th:replace="Admin_espace/fragments/navbar :: navbar" ></div>
<div class="form-container">
    <h1>Modifier réceptioniste</h1>
    <hr/>
    <form th:action="@{/manager/save-update-receptionist}" method="post" th:object="${receptionist}">
        <input type="hidden" th:field="*{id}" th:value="${receptionist.id}">
        <div class="form-group">
            <label for="cin">CIN:</label>
            <input type="text" id="cin" name="cin" th:field="*{CIN}" th:value="${receptionist.CIN}">
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" th:field="*{first_name}" th:value="${receptionist.first_name}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" th:field="*{last_name}" th:value="${receptionist.last_name}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" th:value="${receptionist.email}">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" placeholder="+123-456-7890" pattern="\+?[0-9\s\-]{7,15}" th:field="*{phone}" th:value="${receptionist.phone}"/>
        </div>
        <div class="form-group">
            <label for="cnss">CNSS:</label>
            <input type="text" id="cnss" name="quantity" th:field="*{CNSS_number}" th:value="${receptionist.CNSS_number}" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe:</label>
            <div class="password-container">
                <input id="password" type="password" name="password" placeholder="Entrez le mot de passe" th:field="*{password}" value="">
                <span class="eye-icon" onclick="togglePasswordVisibility('password', this)">
                    <img src="/image/closed_icon.png" alt="eye icon">
                </span>
            </div>
        </div>
        <br>
        <div class="form-actions">
            <button type="submit">Enregistrer</button>
            <a class="cancel-link" th:href="@{/manager/list-receptionist}">Annuler</a>
        </div>
    </form>



<!-- ICON SCRIPT -->
<script src="/js/password.js"></script>
<script>
    feather.replace();

    document.querySelector('.password-icon').addEventListener('click', function() {
        const passwordField = document.getElementById('password');
        const eyeIcon = document.querySelector('.feather-eye');
        const eyeOffIcon = document.querySelector('.feather-eye-off');
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.style.display = "none";
            eyeOffIcon.style.display = "block";
        } else {
            passwordField.type = "password";
            eyeIcon.style.display = "block";
            eyeOffIcon.style.display = "none";
        }
    });
</script>
</body>
</html>
