
/*navBar.css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

}
/* Navbar Styles */
.navbar {
    background-color: #29978d;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* Adjust this to your desired navbar height */
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-size: large;
    line-height: 60px; /* Match this with the navbar height */
    height: 60px; /* Ensures the link is the same height as the navbar */
    transition: background-color 0.3s ease, height 0.3s ease;
}

.nav-links a:hover {
    background-color: #81c6c8;
    height: 60px; /* Match this with the navbar height */
}

/* Dropdown Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 125, 126, 0.69);
    min-width: 160px;
    width: max-content;
    z-index: 1;
    right: 0; /* Aligns the dropdown to the right side of the parent */
}

.dropdown-content a {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    color: #000000;
}

.dropdown-content a:hover {
    background-color: rgb(159, 208, 209);
}


/* Profile Image Styles */
.profile-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

