* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

}

.navbar {
    background-color: #339794;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;

}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-size: large;
}

.nav-links a:hover {
    background-color: #81c6c8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 125, 126, 0.69);
    min-width: 160px;
    width: max-content;
    z-index: 1;
    right: 0; /* Aligns the dropdown to the right side of the parent */
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000000;
}

.dropdown-content a:hover {
    background-color: rgb(159, 208, 209);
}



.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}
